{% extends 'base.html' %}

{% block body %}
    {% include 'partials/topbar.html' %}
    <div class="main-container">
        <div class="dashboard">
            <div class="sidebar left">
                {% include 'partials/sidebar_left.html' %}
            </div>
            <div class="content-panel">
                {% include content_template %}
            </div>
            <div class="sidebar right">
                {% include 'partials/sidebar_right.html' %}
            </div>
        </div>
    </div>
{% endblock %}
