/* ####### TOP BAR ######## */

/* General topbar */
.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ddd;   /* color de fondo */
    padding: 10px 20px;
    /*border-bottom: 2px solid #bbb; /* línea inferior opcional */
}

/* Contenedor del logo + texto */
.topbar .logo-text {
    display: flex;
    align-items: center;
    gap: 12px; /* espacio entre logo y texto */
}

/* Logo */
.topbar .logo-text img {
    width: 170px;   /* tamaño personalizado */
    height: 50px;  /* fuerza tamaño cuadrado */
    border-radius: 8px; /* esquinas redondeadas */
    object-fit: cover; /* que no se deforme */
    /* border: 2px solid #666; /* borde opcional */
}

/* Texto */
.topbar .logo-text span {
    font-size: 30px;       /* tamaño de fuente */
    font-weight: bold;     /* negrita */
/*    color: #333;           /* color de texto */
/*    text-transform: uppercase; /* mayúsculas */
/*    letter-spacing: 1px;   /* separación entre letras */
}

/* Botón de logout */
.topbar .logout a {
    background-color: #666;
    color: #ffffff;
    padding: 8px 12px;
    text-decoration: none;
    border-radius: 6px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.topbar .logout a:hover {
    background-color: #444;
}