<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title if title else "My Web App" }}</title>    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/body.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/topbar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/sidebar-right.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/sidebar-left.css') }}">


    <link rel="stylesheet" href="{{ url_for('static', filename='css/edit_common.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/register_common.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/file_view.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/spinner.css') }}">




    <script src="{{ url_for('static', filename='js/login.js') }}" defer></script>
        <script src="{{ url_for('static', filename='js/sidebar-left.js') }}" defer></script>
        <script src="{{ url_for('static', filename='js/sidebar-right.js') }}" defer></script>
    
    {% block scripts %}{% endblock %}
</head>
<body>
    {% include 'components/topbar.html' %}
    <div class="main-container">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
