<div class="create-project-box">
    <h2>Registrar Nuevo Usuario</h2>

    <form id="create_project_form" method="POST" action="{{ url_for('register') }}">
        <input type="text" name="username" placeholder="Nombre de usuario" required>
        <input type="password" name="password" placeholder="Contraseña" required>
        <input type="email" name="email" placeholder="Email" required>
        <button type="submit" class="btn-submit">Registrar</button>
    </form>

    {% if message %}
        <div class="register-message {% if success %}success{% else %}error{% endif %}">
            {{ message }}
        </div>
    {% endif %}

</div>