<div class="topbar">
    <div class="logo-text">
        <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo">
        <h1 class="text-base font-bold">
          <span style="color: rgb(0, 102, 204);">AT</span><span style="color: rgb(255,165,0);">OM</span> 
          <span>(</span><span style="color: rgb(0, 102, 204);">AT</span><span>lantic </span><span style="color: rgb(255, 165, 0);">OM</span><span>ics)</span>
        </h1>
    </div>
    {% if 'username' in session %}
    <div class="logout">
        <a href="{{ url_for('logout') }}">Cerrar sesión</a>
    </div>
    {% endif %}
</div>
